<div class="modal-header">
    <h4 class="modal-title">{{kpiPopup.title}}</h4>
  </div>
  <div class="modal-body">
    <div class='row'>
      <div class='col-2 text-center'>
        <em class={{kpiPopup.popUpType}}></em>
      </div>
      <div [ngClass]="{'col-10':kpiPopup.popUpType,'col-12':!kpiPopup.popUpType}">
        <div [ngClass]="{'mb-2': !kpiPopup.method}" class="wrapping-words" [innerHtml]="kpiPopup.message"></div>
        <div [innerHtml]="kpiPopup.question ? kpiPopup.question :''"></div>
      </div>
    </div>
  </div>
  <div class="modal-footer text-right">
    <button *ngFor="let action of kpiPopup.actionList" type="button" mat-raised-button class="rounded ml-2"
      (click)="dialogCloseHandler(action)" color="primary">
      <em class={{action.iconClass}}></em>
      {{action.buttonLabel | translate}}
    </button>
  </div>
  