<article class="modal-header">
    <h4 class="modal-title">{{copyPopup.title}}</h4>
  </article>
  <article class="modal-body">
    <section class='row m-0'>
      <section class='col-2 text-center'>
        <em class="fas fa-3x fa-exclamation-triangle text-primary"></em>
      </section>
      <section class='col-10'>
        <section [innerHtml]="copyPopup.message"></section>
      </section>
    </section>
  </article>
  <article class="modal-footer">
    <button mat-raised-button *ngFor="let action of copyPopup.actionList" type="button"
      (click)="dialogCloseHandler(action)" class="rounded" color="primary">
      <em class={{action.iconClass}}></em>
      {{action.buttonLabel | translate}}
    </button>
  </article>
  