#container {
  text-align: center;

  position: absolute;
  left: 0;
  right: 0;
  top: 50%;
  transform: translateY(-50%);
}

#container strong {
  font-size: 20px;
  line-height: 26px;
}

#container p {
  font-size: 16px;
  line-height: 22px;

  color: #8c8c8c;

  margin: 0;
}

#container a {
  text-decoration: none;
}

ion-content ion-toolbar {
  --background: translucent;
}

.header-title{
  position: absolute;
  top: 0;
  left: 0;
  padding: 0 90px 1px;
  width: 100%;
  height: 100%;
  text-align: center;
}

.grid-css{ 
  text-align: center; 
  margin-top: 2%;
  padding: 0;
}

.top-heading{
  font-size: 28px;
  text-align: center;
  border: 1px solid;
  border-color: #9E9E9E;
  background-color: #2196F3;
  color: white;
  margin-top: 2%;
}

.plus-icon{
  font-size: 55px;
  color: #2196F3;
  margin-bottom: -2%; 
}

.slot-row{
  width: 100%;
  background-color: #b8dcf8;
}
ion-content{
 // --background: #f06007;
}