<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title class="header-title">
     Welcome User
    </ion-title>
    <app-menu-button></app-menu-button>
  </ion-toolbar>
</ion-header>
<ion-content [fullscreen]="true">
  <div class="top-heading">
  <h5 class="ion-margin-top">{{"CAFETERIA_BOOKING" | translate}}</h5>
</div>
  <ion-grid class="ion-padding grid-css">
    <div *ngFor="let item of bookSlotData">
      <ion-item *ngIf="item.is_booked">
        <ion-row class="slot-row">
          <ion-col class="ion-margin-start">
            <!-- <h5 class="landing-heading">{{"DESCRIPTION" | translate}}</h5> -->
            <p>Slot Booked : {{item.start_time}} - {{item.end_time}}</p>
            <p>Slot Id : {{item.slot_id}}</p>
          </ion-col>
        </ion-row>
      </ion-item>
    </div>
    
      <ion-row >
        <ion-col (click)="bookingCafeteriaClick()" class="ion-margin-start">
          <!-- <h5 class="landing-heading">{{"DESCRIPTION" | translate}}</h5> -->
          <ion-icon class="plus-icon" name="add-circle"></ion-icon>
        </ion-col>
      </ion-row>
   
  </ion-grid>
</ion-content>