// App Styles
// ----------------------------------------------------------------------------
// Put style rules here that you want to apply to the entire application. These 
// styles are for the entire app and not just one component. Additionally, this 
// file can hold Sass mixins, functions, and placeholder classes to be imported 
// and used throughout the application.


  ion-menu{
    --background :white;
  }
  
  .app-menu-content{
    --background :#2196F3;  
  }
  
  .item-content {
    background-color:white;
  }
  
  #menu {  
    color: white;
    .inner {
      padding: 2.75em 1.5em;
    }  
    .inner > h2 {
      font-weight: 900;
      font-size: 16px;
      text-transform: uppercase;
      letter-spacing: 0.35em;
    }  
    .inner > ul {
      list-style: none;
      margin: 3em 0 1em 0;
      padding: 0;
    }  
    .inner > ul > li {
      padding: 0;
      border-bottom: solid 1px rgba(17, 105, 236, 0.15);
    }  
    .inner > ul > li p {
        display: block;
        border: 0;
        color: inherit;
    }  
    .userIcon{
      font-size: 60px !important;
    }   
    .margin_top_14{
      margin-top: 14px;
    }  
    .font_size_16{
      font-size: 16px;
    }  
    .font_size_14{
      font-size: 14px;
    }  
  }
  
  ion-toolbar{
    color: var(--toolbar-text-color);
  }
  
  .app-alert{
    color: var(--ion-text-color);
  }
  
  .alert-radio-label{
    color: var(--ion-text-color) !important;
  }
    

