<ion-app>
  <ion-menu side="end" menuId="first" type="overlay">
    <ion-content class="app-menu-content">
      <div id="menu">
        <div class="inner">
          <ion-row class="ion-no-padding">
            <ion-col size="3" class="ion-no-padding">
              <ion-icon name="contact" class="userIcon"></ion-icon>
            </ion-col>
            <ion-col size="9" class="ion-no-padding">
              <div class="margin_top_14" *ngIf="sideBarService.showLogout">
                <div class="font_size_16">Pragati Yadav</div>                
              </div>
            </ion-col>
          </ion-row>
          <h2>{{"MENU" | translate}}</h2>
          <ul>
            <li>
              <p (click)="sideBarService.languageSwitchOption()">{{"LANGUAGE" | translate}}</p>
            </li>          
           
            <li *ngIf="sideBarService.showLogout">
              <p (click)="sideBarService.logoutOption()">{{"LOGOUT" | translate}}</p>
            </li>
          </ul>
        </div>
      </div>
      <!-- <ion-grid class="ion-no-padding" class="verison-name">
        <ion-row >'app version'</ion-row>
        <ion-row >'app mode'</ion-row>
      </ion-grid> -->
    </ion-content>
  </ion-menu>
  <ion-router-outlet main [swipeGesture]="false"></ion-router-outlet>
</ion-app>
