<!-- <ion-header>
  <ion-toolbar>
    <ion-title>{{"IONIC_TEMPLATE" | translate}}</ion-title>
  </ion-toolbar>
</ion-header> -->
<!-- <ion-content>

  <ion-grid>
    <ion-row class="ion-justify-content-center ion-margin-top">
      <ion-col size="10">
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col size="12">
        <ion-item>
          <ion-label position="stacked">{{"USER_NAME" | translate}}</ion-label>
          <ion-input type="text" #username></ion-input>
        </ion-item>
      </ion-col>
      <ion-col size="12">
        <ion-item>
          <ion-label position="stacked">{{"PASSWORD" | translate}}</ion-label>
          <ion-input type="Password" #password></ion-input>
        </ion-item>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col size="12">
        <ion-button size="large" strong="true" color="medium" expand="full" (click)="loginUser()">
          {{"SUBMIT" | translate}}</ion-button>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content> -->

<ion-content  padding>
  <div text-center>
    <img class="sopra-logo" src="assets/images/SOPRASTERIA_logo_RVB_exe.png" alt="">   
  </div>
  <ion-card >
  <ion-grid>
    <ion-row class="ion-justify-content-center ion-margin-top">
      <ion-col size="10">
        <h4>Social Distancing App</h4>
      </ion-col>
    </ion-row>
    <ion-row justify-content-center>
      <ion-col align-self-center size-md="6" size-lg="5" size-xs="12" class="card">         
        <div padding>          
          <ion-item>
            <ion-input type="text" #email placeholder="Email Id"></ion-input>
          </ion-item>    
          <ion-item>
            <ion-input type="password" #password placeholder="Password"></ion-input>
          </ion-item>
        </div>    
        <div padding class="login-btn">
          <ion-button size="large" (click)="loginClick(email , password )" expand="block" class="button-native">Login</ion-button>
        </div>
       <!-- <br>
        <div padding>
          <ion-button size="large" routerLink="/signup"  expand="block" class="button-native">SignUp</ion-button>                
        </div>         -->
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-card>
  </ion-content>
