ion-toolbar{
    --ion-background-color: #EC6313!important;
    color: #fff;
  }
ion-button{
    background-color: #EC6313;
  }
  $white-color: #fff;
  $height100: 100%;
  
ion-grid {
      width:100%;
      height: $height100;
      background: #dfdfdf;
  }
  
ion-row {
      height: $height100;
  }
  
ion-col {
      border: 1px solid #488aff;
      background: $white-color;
  }
  
ion-button {
      font-weight: 300;
  }
  
@media (min-width: 240px) and (max-width: 768px) {
      ion-grid {
          background: $white-color;
      }
      ion-col {
          border: none;
      }
}
.button-native{
    background:unset!important;
  }
h4{
    font-size: 20px;
    color: black;
    text-align: center;
    padding-bottom: 5%;   
    font-weight: 400;
  }
.card{
    background-color: linear-gradient(#F87C32, #EC6313!important);
  }

.login-btn{
      margin-top: 7%;
    }

 .sopra-logo{
  width: 75%;
  margin-left: 15%;
  margin-top: 15%;
 }   

 ion-button{
  --background : #2196F3 !important;
  height: 35px;
   width: 58%;
   margin-left: 22%;

 }
 