
.header-title{
    position: absolute;
    top: 0;
    left: 0;
    padding: 0 90px 1px;
    width: 100%;
    height: 100%;
    text-align: center;
  }
.slot-title{
    margin: 5%;
}

.slot-title-div{
    border: 1px solid;
    text-align: center;
    background-color: #d0cfcf;
}

.slot-label{
    font-size: 20px;
}

.slots-list{
   // background-color: #d6dce0;
}

.top-heading{
    font-size: 28px;
    text-align: center;
    border: 1px solid;
    border-color: #9E9E9E;
    background-color: #2196F3;
    color: white;
    margin-top: 2%;
  }

  ion-button{
    --background : #2196F3 !important;
    height: 35px;
     width: 58%;
     margin-left: 22%;
 
   }
   
  