<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title class="header-title">
      Cafeteria Booking
    </ion-title>
    <app-menu-button></app-menu-button>
  </ion-toolbar>
</ion-header>



<ion-content>
  <div>
    <p class="slot-title">Slots Available For Cafeteria</p>
  </div>
  <!-- <div class="slot-title-div">
    <ion-label class="slot-label">Select Your Slot</ion-label>
  </div> -->

  
    <div class="top-heading">
    <h5 class="ion-margin-top">Select Your Slot</h5>
  </div>
  <ion-list class="slots-list">
    <ion-radio-group allow-empty-selection="true" name="radio-group" [(ngModel)]="selectedState"
      (ionChange)="slotGroupChange($event)">
      <div *ngFor="let item of slotsData.cafeteria_slots">
      <ion-item *ngIf="!item.is_booked">
        <ion-label>{{item.start_time}} - {{item.end_time}}</ion-label>
        <ion-radio slot="start" name="{{item.slot_id}}" value="{{item.slot_id}}"></ion-radio>
      </ion-item>
    </div>
    </ion-radio-group>
  </ion-list>
  <div padding>
    <ion-button size="large" (click)="bookSlotClick()" expand="block" class="button-native">Book</ion-button>
  </div>
</ion-content>